<html>
 <head>
   <title> 2106  </title>
   <style>
   a.on {
   background-color: green;
   padding: 4px;
   text-decoration: none;
   border-top: 2px solid silver;
   border-left: 2px solid silver;
   border-right: 2px solid darkgray;
   border-bottom: 2px solid darkgray;
   }
     a.off {
   background-color: red;
   padding: 4px;
   text-decoration: none;
   border-top: 2px solid silver;
   border-left: 2px solid silver;
   border-right: 2px solid darkgray;
   border-bottom: 2px solid darkgray;
   }
   </style>
 </head>
 <body>
  <h1> Hi, Honepa </h1>
  <a href="/on/" class="on">ON</a>
  <a href="/off/" class="off">OFF</a>
 </body>
</html>
