<html>
    <head>
        <title>Driving</title>
    </head>
    <body>
        <p>Хочешь остановиться?</p>
        <form action="submit" id="textform" method="POST">
            <p>
             <textarea rows="0"  cols="0" name="text"></textarea>
            </p>
            <p><b>Направление движения:</b><Br>
             <input type="submit" name="drive" value="">
             <input type="submit" name="drive" value="">
             <input type="submit" name="dir" value="">
             <input type="submit" name="dir" value="">
             <input type="submit" name="stop" value="Стоп">
            </p> 
        </form>
    </body>
</html>