<html>
    <head>
        <title>Drive Test</title>
    </head>
    <body>
        <h1>Hi, User</h1>
        <form action="submit" id="textform" method="POST">
            <p><b>Время для движения(в сек.):</b><Br>
             <textarea rows="1"  cols="5" name="text"></textarea>
            </p>
            <p><b>Направление движения:</b><Br>
             <input type="submit" name="button" value="Вперёд">
             <input type="submit" name="button" value="Назад">
             <input type="submit" name="button" value="Направо">
             <input type="submit" name="button" value="Налево">
             <input type="submit" name="button" value="Стоп">
            </p> 
        </form>
    </body>
</html>